.h-25{
    min-height: 20vh;
}
.h-50{
    min-height: 30vh;
}
.w-85{
    width: 85%;
}
.margin{
    margin-top: -8em;
}
.margin2{
    margin-top: -5rem;
}
.marginb{
    margin-bottom: 8em;
}
.margin-text{
    margin-top: -3rem;
}
.box-shadow{
    box-shadow: 1px 1px 10px #585858;
}
.top-40{
    top: 40% !important;
}