.textcolor{
    color: #333333;
}
.text-color-blue{
    color: #24478F;
}
.text-color-white{
    color: #FFFFFF;
}
.text-color-grey{
    color:#585858;
}
.bg-color-blue{
    background: #24478F;
}
.bg-color-grey{
    background-color:#585858;
}
.bg-color-lightblue{
    background: #4D7CD3;

}
.bg-color-white{
    background-color: #FFFFFF;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-400{
    font-weight: 400;
}
.cont1
{
    border: 2px soild black;

}
.bg-color-darkwhite{
    background: #F5F5F5;
    /* opacity: 0.6; */
}
.border-lightblue{
    border: 2px solid #4D7CD3;
}

.font-roboto{
    font-weight: 'roboto' , sans-serif;
}
.Image106{
    min-width: 75%;
}
.border-lightblue{
    border: 2px solid #4D7CD3;
}
.rounded-500{
    border-radius: 1em;
}

/* footer CSS */
#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerboxes{
    min-width: 4%;
}
#footerbox1{
    /* margin: auto; */
    align-items: center;
    max-width: 10%;
}
#footerbox2{
    max-width: 30%;
    font-size: small;
}
#footerbox5{
    min-width: 25%;
}
ul{
    list-style-type: none;
}
li{
    font-size: small;
    margin-bottom: 5%;
}
.img32-34{
    margin-right: 1%;
    margin-top: 2%;
}
#box5inp{
    width: 55%;
    height: 2em;
    border-radius: 10px;
    border: 5px solid #4D7CD3;
    padding: 1em;
    /* margin-right: 20px; */
}
#box5btn{
    width: 30%;
}
.border-radius-search1{
    border-radius: 15px;
    
    z-index: 5;
    border: 2px solid #4D7CD3;
}
.margin-over{
    margin-left: -20px;
    /* z-index: 3; */
}

.Footer-para-size{
    font-size: 0.9em;
}
.WRY-input-h{
    min-height: 8rem;
}