.textcolor{
    color: #333333;
}
.text-color-blue{
    color: #24478F;
}
.text-color-white{
    color: #FFFFFF !important;
}
.text-color-grey{
    color:#585858;
}
.bg-color-blue{
    background: #24478F;
}
.bg-color-grey{
    background-color:#585858;
}
.bg-color-lightblue{
    background: #4D7CD3 !important;
}
.bg-color-lightblue-50{
    background: rgba(77, 124, 211, 0.5);
}
.bg-color-white{
    background-color: #FFFFFF;
}
.fw-600{
    font-weight: 600 !important;
}
.fw-500{
    font-weight: 500;
}
.fw-400{
    font-weight: 400;
}
.fw-300{
    font-weight: 300;
}
.fs-12px{
    font-size: 12px;
}
.fs-1em{
    font-size: 1em;
}
.fs-2em{
    font-size: 1.2em;
}
.fs-16px{
    font-size: 16px;
}
.fs-18px{
    font-size: 18px;
}
.fs-20px{
    font-size: 20px;
}
.fs-24px{
    font-size: 24px;
}
.fs-32px{
    font-size: 32px;
}
.fs-36px{
    font-size: 36px;
}
.fs-48px{
    font-size: 48px;
}
.cont1
{
    border: 2px soild black;

}
.bg-color-darkwhite{
    background: #F5F5F5;
    /* opacity: 0.6; */
}

.font-roboto{
    font-weight: 'roboto' , sans-serif;
}
.Image106{
    min-width: 75%;
}
.rounded-500{
    border-radius: 1em;
}
/* footer CSS */

.text-justify{
    text-align: justify;
  text-justify: inter-word;
}
.Subscribe-Border{
    border: 5px solid #4D7CD3 !important;
}
.margin-over-footer{
    margin-left: -2rem !important;
}
.min-input-width{
    min-width: 170px !important;
}
.Subscribe-Left-Round{
    border-radius: 2rem !important;
}

.z-index-12{
    z-index: 12;
}

/* End */
.WRY-input-h{
    min-height: 8rem;
}