
.Image-wh{
    width: 100%;
    height: 267px;
}
.Lawyers-Profile-wh{
    height: 251px;
}
.Personal-Details-wh{
    height: 481px;
}
.Services-wh{
    height: 778px;
}
.Photos-wh{
    height: 340px;
}
.Location-wh{
    height: 244px;
}
.Friend-wh{
    height: 100px;
}
.URL-Copy-wh{
    height: 100px;
}
.Top-Lawyers-wh{
    height: 700px;
}
.other-lawyer-wh{
    height: 92px;
}
.text-justify{
    text-align: justify;
  text-justify: inter-word;
}
.Subscribe-Border{
    border: 5px solid #4D7CD3;
}
.margin-over-footer{
    margin-left: -2rem;
}
.min-input-width{
    min-width: 170px;
}
.Subscribe-Left-Round{
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}