.Profile-Contact-W-H{
    height: 251px;
}
.Lawyer-Profile-W-H{
    height: 481px;
}
.Infor-W-H{
    max-width: 602px;
}
.Img-H{
    height: 267px;
}
.Expertise-Services-W-H{
    height: 705px;
}
.para-W-H{
    min-height: 152px;
}
.Photos-Section-W-H{
    height: 320px;
}
.Our-Location-W-H{
    height: 244px;
}
.Refer-Friend-W-H{
    height: 105px;
}
.Copy-URl-W-H{
    height: 95px;
}
.Top-Lawyers-W-H{
    height: 697px;
}
.Top-lawyer-profile-W-H{
    height: 92px;

}
.border-lightblue{
    border: 2px solid #4D7CD3;
    border-radius: 2rem;
}
.border-grey{
    border: 2px solid rgba(51, 51, 51, 1);
}
.text-justify{
    text-align: justify;
  text-justify: inter-word;
}
.Subscribe-Border{
    border: 5px solid #4D7CD3;
}
.margin-over-footer{
    margin-left: -2rem;
}
.min-input-width{
    min-width: 170px;
}
.Subscribe-Left-Round{
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}