



.row{
    padding: 3rem 0px;
}
/* color only class */

.textcolor{
    color: #333333;
}
.text-color-blue{
    color: #24478F;
}
.text-color-white{
    color: #FFFFFF;
}
.bg-color-blue{
    background: #24478F;

}
.bg-color-lightblue{
    background: #4D7CD3;

}
.bg-color-white{
    background-color: #FFFFFF;
}

/* end */

/* font sizes */
.font-larger{
    font-size: 4rem;
}
.font-smaller{
    font-size: 0.7em;
}
#border-blue1{
    border: 2px solid #24478F;
    border-radius: 10px 2px 2px 10px;
}
#border-blue2{
    border: 2px solid #24478F;
    margin-right: -10px;
    /* border-radius: 2px 10px 10px  2px ; */
}
#border-radius-search{
    border-radius: 10px;
    z-index: 5;
}
.border-radius-search1{
    border-radius: 15px;
    
    z-index: 5;
    border: 2px solid #4D7CD3;
}
.border-radius-search2{
    border-radius: 15px;
    
    z-index: 5;
    border: 1px solid #333333;
    box-shadow: 1px 1px 10px;
}
.image-size{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
.nav-item{
    margin: 0px;
}
.margin-over{
    margin-left: -20px;
    /* z-index: 3; */
}
.imgborder{
    border: 4px solid #4D7CD3;
    width: 3.5rem;
    /* z-index: 4; */
    position: relative;
}
#nameborder{
    background-color: #FFFFFF;
    color: #4D7CD3;
    border: 4px solid #4D7CD3;
    min-width: 8%;
    
    border-radius: 0px 1rem 1rem 0px;
}
.cont2-grid-box{
    background-color: #FFFFFF;
}
.border-radius-categories{
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
}
.nheight{
    height: 20vh;
}
#halfway1{
    width: 75%;
    /* border: 2px solid blue; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 1px 1px;
    top:10vh;
}
.border-radius-Register{
    border-radius: 1rem;
    border: 0px;
    /* box-shadow: 1px 1px 10px; */
}
.imagegrid{
    width: 100%;
}
#image-mid{
    max-width: 30%;
}